body {
    color: black;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, sans-serif
}
  
.title-container {
    width: 90%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 175%;
}
  
.menu-title{
    color: blueviolet;
    width:40%;
    float:right;
    text-align: center;
    font-size: 125%;
    float:right;
}
  
.menu1{
    background-color: rgb(255, 253, 208);;
    margin:10px;
    border:2px solid black;
}

.menu2{
    background-color: rgb(255, 192, 0);
    margin:10px;
    border:2px solid black;
}

.menu3{
    background-color: rgb(168, 242, 154);
    margin:10px;
    border:2px solid black;
}
  
.text1 {
    color: black;
    margin:10px;
    margin-top:40px;
    clear:both;
}

.text2{
    color: black;
    margin:10px;
    margin-top:40px;
    clear:both;
}

.text3{
    color: black;
    margin:10px;
    margin-top:40px;
    clear:both;
}

.text4{
    color: black;
    margin:10px;
    margin-top:40px;
    clear:both;
}

.text5{
    color: black;
    margin:10px;
    margin-top:40px;
    clear:both;
}
  
.row {
    width: 90%;
    border: 5px;
    margin-right: auto;
    margin-left: auto;
    padding:5px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}
  
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
    }
      .col-md-6 {
        width: 50%;
    }
      .col-md-12 {
        width: 100%;
    }
}

/********** Small devices only **********/
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}
